/* pieChart.css */

.pie-chart-container {
    margin: 10px;
   width: 420px;
   border: 1px solid rgba(0, 0, 0, 0.378);
   border-radius: 8px;
   background-color: white;
  }
  
  .pie-chart-title {
    font-size: 28px;
    font-weight: 500;
    margin: 2px;
  }
  
  .select-month {
    width: 200px;
    margin: 10px;
  }

  @media only screen and (max-width: 1440px) {
    .pie-chart-container {
        margin: 10px;
       width: 490px;
      }
  }

  @media only screen and (max-width: 944px) {
    .pie-chart-container {
        margin: 10px;
       width: 95dvw;
      }
  }